/**Seletor do site**/
* {
  margin: 0;
}

/**Corpo do site**/
body {
  font-family: Times, New Roman, Georgia, Garamond;
  color: rgb(255, 255, 255);
  font-size: 28px;
  background: linear-gradient(100deg, #000000, #878e92);
}

/**Barra de navegação**/
.nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background: black;
}

.nav-list {
  display: flex;
  list-style: none;
}
/**Navegação da lista */
.nav-list,
a {
  text-decoration: none;
  padding: 10px;
  color: var(--color);
  font-size: 20px;
  cursor: pointer;
}

.nav-list a:hover {
  color: rgba(31, 30, 31, 0.8);
}

/**Foto do perfil**/
#foto {
  width: 10rem;
  border-radius: 30px 70px;
  box-shadow: 2px 2px 3px 3px white;
  display: flex;
  position: static;
  margin-top: -10rem;
  margin-left: 57rem;
  margin-bottom: 20vh;
}

/**Section welcome-section**/

.welcome-section {
  display: flex;
  position: static;
  padding-left: 20rem;
  padding-top: 21vh;
  padding-bottom: 3vh;
  font-size: 4rem;
}

#welcome-section p {
  display: flex;
  text-align: left;
  padding-left: 20rem;
  font-size: 20px;
}

#welcome-section h2 {
  font-size: 30px;
  padding-left: 24rem;
  padding-bottom: 10px;
}
/**Sobre minha carreira**/
#sobre {
  text-align: center;
  font-size: 20px;
}

/**Projeto**/
#projects {
  padding-top: 70px;
  display: flex;
  text-align: center;
}
.project-project,
#profile-link {
  width: 50vh;
  padding-bottom: 60px;
}

#projects img:hover {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  position: static;
  display: inline-block;
}

/**Links dos contatos**/

#redes-sociais {
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.redes-sociais li {
  display: inline-block;
}
.redes-sociais ul {
  list-style: none;
  text-align: center;
  padding-right: 40px;
}

.lists-contact:link,
.linkedin::before {
  content: url(assets/icons8-linkedin-circled-40.png);
}

.lists-contact:link,
.git::before {
  content: url(assets/icons8-github-40.png);
}

.lists-contact:link,
.e-mail::before {
  content: url(assets/icons8-envelope-circulado-40.png);
}

.lists-contact .linkedin:hover {
  background-color: rgba(31, 30, 31, 0.8);
  padding-top: 35px;
  border-radius: 30px;
  opacity: 1;
}

.lists-contact .git:hover {
  background-color: rgba(31, 30, 31, 0.8);
  padding-top: 35px;
  border-radius: 30px;
}

.lists-contact .e-mail:hover {
  background-color: rgba(31, 30, 31, 0.8);
  padding-top: 35px;
  border-radius: 30px;
}

/**Habilidades**/
#softskills {
  text-align: center;
}

.skills {
  padding-top: 50px;
}
.skills,
img {
  text-align: center;
}
/**Footer contendo meu @ **/
#footer {
  padding-top: 0px;
  background: linear-gradient(
    20deg,
    rgba(31, 30, 31, 0.8),
    rgba(42, 39, 41, 0) 100%
  );
}
/** Pragrafo do footer**/
#footer p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
}
/*Seletor do projeto*/
@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
}
/*Corpo do projeto*/
@media screen and (max-width: 600px) {
  body {
    color: rgb(255, 255, 255);
    font-size: 17px;
    background: linear-gradient(100deg, #000000, #878e92);
  }
}

/*Links principais*/
@media screen and (max-width: 600px) {
  .nav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    background: black;
  }
}
/*Boas vindas*/
@media screen and (max-width: 400px) {
  #welcome-section {
    position: static;
    padding-top: 2vh;
    padding-bottom: 10rem;
  }
  #welcome-section h2 {
    font-size: 18px;
    padding-left: 3rem;
    padding-top: 1px;
    position: static;
    display: flex;
  }
}

/*Boas vindas*/
@media screen and (max-width: 400px) {
  .welcome-section {
    display: flex;
    position: static;
    font-size: 24px;
    padding-left: 3rem;
  }

  /*Minha foto*/
  @media screen and (max-width: 400px) {
    #foto {
      width: 97px;
      border-radius: 19px 49px;
      box-shadow: 2px 2px 3px 3px white;
      display: flex;
      position: static;
      margin-top: -26%;
      margin-left: 70%;
      margin-bottom: -2vh;
    }
  }
}
/*Sobre minha trajetoria na técnologia*/
@media screen and (max-width: 400px) {
  #sobre {
    text-align: center;
    font-size: 16px;
    width: 20rem;
    position: static;
    display: flex;
    padding-left: 2rem;
    padding-bottom: 3rem;
  }
}
/*Meus projetos*/
@media screen and (max-width: 400px) {
  .project-project,
  #profile-link {
    width: 40vh;
    padding-bottom: 30px;
  }
}

/*Minhas habilidade */
@media screen and (max-width: 400px) {
  #softskills h3 {
    font-size: 23px;
  }
}

/*Rede de contato/ redes sociais */
@media screen and (max-width: 400px) {
  .redes-sociais ul {
    list-style: none;
    text-align: center;
    padding-right: 6px;
  }
}
